@import '_variables';
@import 'bulma';

.text-editor {
    .button {
        padding: 5px;
        line-height: 24px;
        width: 36px;
        height: 36px;
        border: 1px solid rgb(219, 219, 219);

        svg {
            height: 14px;
        }
    }

    .ProseMirror {
        height: 260px;
        overflow-y: scroll;
        border: 1px solid rgb(219, 219, 219);
        margin-top: 4px;
        padding: 20px;
    }
}

.menububble {
    position: absolute;
    display: flex;
    z-index: 20;
    background: black;
    border-radius: 5px;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }

    &__button {
        display: inline-flex;
        background: transparent;
        border: 0;
        color: white;
        padding: 0.2rem 0.5rem;
        margin-right: 0.2rem;
        border-radius: 3px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: rgba(white, 0.1);
        }

        &.is-active {
            background-color: rgba(white, 0.2);
        }
    }

    &__form {
        display: flex;
        align-items: center;
    }

    &__input {
        font: inherit;
        border: none;
        background: transparent;
        color: white;
    }
}